[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/sdl"]
	path = 3rdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/implot"]
	path = 3rdparty/implot
	url = https://github.com/epezent/implot.git
